In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3), index = ['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df = df.reindex(['a','c','d','e','f','g','h'])
print(df)
print(df['one'].isnull())

        one       two     three
a  0.000884  0.705417  0.081556
c -2.065296 -0.238322  1.095847
e -0.314658  0.704497  0.263870
f  1.798506  2.304304 -0.960389
h  0.516183  0.098205  0.727684
        one       two     three
a  0.000884  0.705417  0.081556
c -2.065296 -0.238322  1.095847
d       NaN       NaN       NaN
e -0.314658  0.704497  0.263870
f  1.798506  2.304304 -0.960389
g       NaN       NaN       NaN
h  0.516183  0.098205  0.727684
a    False
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(3,3), index = ['a','c','e'],columns=['one','two','three'])
df = df.reindex(['a','b','c'])
print(df)
print("NaN replaced with 'o': ")
print(df.fillna(0))

        one       two     three
a -1.202453 -0.173013 -0.714310
b       NaN       NaN       NaN
c  1.216030  2.013507 -0.310554
NaN replaced with 'o':
        one       two     three
a -1.202453 -0.173013 -0.714310
b  0.000000  0.000000  0.000000
c  1.216030  2.013507 -0.310554

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3), index = ['a','c','e','f','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df.fillna(method='bfill'))

        one       two     three
a  0.775282 -0.203727 -1.058455
b -0.740298  0.206959 -0.127947
c -0.740298  0.206959 -0.127947
d -0.714388  1.163635 -0.180698
e -0.714388  1.163635 -0.180698
f  0.224601  0.717230 -0.361625
g  2.278380 -0.585835  0.727239
h  2.278380 -0.585835  0.727239

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3), index = ['a','c','e','f','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print(df.dropna())

        one       two     three
a -0.683021 -0.357185  0.989370
b       NaN       NaN       NaN
c  1.107175 -0.192539 -0.191092
d       NaN       NaN       NaN
e -1.291157 -1.395421  0.958914
f  2.040171 -0.049071 -0.001333
g       NaN       NaN       NaN
h -0.241636 -2.859298 -0.576326
        one       two     three
a -0.683021 -0.357185  0.989370
c  1.107175 -0.192539 -0.191092
e -1.291157 -1.395421  0.958914
f  2.040171 -0.049071 -0.001333
h -0.241636 -2.859298 -0.576326

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/2,1 dataset titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
cols=['Name','Ticket','Cabin']
df = df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [ ]:
dummies = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
  dummies.append(pd.get_dummies(df[col]))
  print(dummies)

[     1  2  3
0    0  0  1
1    1  0  0
2    0  0  1
3    1  0  0
4    0  0  1
..  .. .. ..
885  0  0  1
886  0  1  0
887  1  0  0
889  1  0  0
890  0  0  1

[712 rows x 3 columns]]
[     1  2  3
0    0  0  1
1    1  0  0
2    0  0  1
3    1  0  0
4    0  0  1
..  .. .. ..
885  0  0  1
886  0  1  0
887  1  0  0
889  1  0  0
890  0  0  1

[712 rows x 3 columns],      female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
885       1     0
886       0     1
887       1     0
889       0     1
890       0     1

[712 rows x 2 columns]]
[     1  2  3
0    0  0  1
1    1  0  0
2    0  0  1
3    1  0  0
4    0  0  1
..  .. .. ..
885  0  0  1
886  0  1  0
887  1  0  0
889  1  0  0
890  0  0  1

[712 rows x 3 columns],      female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
885       1     0
886       0     1
887       1     0
889       0     1
890       0     1

[712 rows x 2 columns],      C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
885  0  1  0
886  0  0  1
887  0  0  1
889  1  0  0
890  0  1  0

[712 rows x 3 columns]]

In [ ]:
titanic_dummies = pd.concat(dummies,axis=1)
df = pd.concat((df,titanic_dummies),axis=1)
df=df.drop(['Pclass','Sex','Embarked'],axis=1)

In [ ]:
df['Age']=df['Age'].interpolate()
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare  1  2  3  female  ...  \
0              1         0  22.0      1      0   7.2500  0  0  1       0  ...
1              2         1  38.0      1      0  71.2833  1  0  0       1  ...
2              3         1  26.0      0      0   7.9250  0  0  1       1  ...
3              4         1  35.0      1      0  53.1000  1  0  0       1  ...
4              5         0  35.0      0      0   8.0500  0  0  1       0  ...
..           ...       ...   ...    ...    ...      ... .. .. ..     ...  ...
885          886         0  39.0      0      5  29.1250  0  0  1       1  ...
886          887         0  27.0      0      0  13.0000  0  1  0       0  ...
887          888         1  19.0      0      0  30.0000  1  0  0       1  ...
889          890         1  26.0      0      0  30.0000  1  0  0       0  ...
890          891         0  32.0      0      0   7.7500  0  0  1       0  ...

     Q  S  1  2  3  female  male  C  Q  S
0    0  1  0  0  1       0     1  0  0  1
1    0  0  1  0  0       1     0  1  0  0
2    0  1  0  0  1       1     0  0  0  1
3    0  1  1  0  0       1     0  0  0  1
4    0  1  0  0  1       0     1  0  0  1
..  .. .. .. .. ..     ...   ... .. .. ..
885  1  0  0  0  1       1     0  0  1  0
886  0  1  0  1  0       0     1  0  0  1
887  0  1  1  0  0       1     0  0  0  1
889  0  0  1  0  0       0     1  1  0  0
890  1  0  0  0  1       0     1  0  1  0

[712 rows x 22 columns]

In [ ]:
y=(x-min)/(max-min)
from sklearn.preprocessing import MinMaxScalar
data=[[-1,2],[-1.5,6],[0,10],[1,18]]
scalar=MinMaxScalar()
print(scalar.fit(data))
print('-------------')
MinMaxScalar()
print(scalar.data_max)
prinjt('---------------------')
print(scalar.transform(data))

NameError: name 'x' is not defined

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScalar
data = asarray([[100,0.001],[8,0.05],[50,0.005],[88,0.07],[4,0.1]])
print(data)
scalar=StandardScalar()
Scaled=scalar.fit_transform(data)
print(Scaled)

ImportError: cannot import name 'StandardScalar' from 'sklearn.preprocessing' (/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/__init__.py)

In [ ]:
import numpy as np
data = [1,2,2,2,3,1,1,15,2,2,2,3,1,1,2]
mean = np.mean(data)
std = np.std(data)
print('mean of the dataset is ', mean)
print('std.deviation is',std)
threshold = 3
outlier = []
for i in data:
  z = (i-mean)/std
  if z > threshold:
    outlier.append(i)
    print('outlier in dataset is ',i)

mean of the dataset is  2.6666666666666665
std.deviation is 3.3598941782277745
outlier in dataset is  15

**Interquartile range to detect Outliers in data**
q1 represents the 25th percentile of data
q2 represents the 50th percentile of data
q2 represents the 75th percentile of data
if a dataset has 2n/2n+1 data points,then
q1 = median of the dataset.
q2 = median of n smallest data points.

In [ ]:
import numpy as np
import seaborn as sns


data = [6,2,3,4,5,1,50]
sort_data = np.sort(data)
sort_data

array([ 1,  2,  3,  4,  5,  6, 50])

In [ ]:
def load_data():
  df_all = pd.read_csv('/content/train.csv')
  return df_all.loc[:300, ['Survived', 'Pclass', 'Sex', 'Cabin', 'Embarked']]
  df = load_data()

In [ ]:
df.duplicated(subset=['Survived','Pclass','Sex'])

NameError: name 'df' is not defined

In [ ]:
df.duplicated().Sum()

NameError: name 'df' is not defined